<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headerLabel</key>
	<dict>
		<key>font</key>
		<string>Avenir</string>
		<key>textColor</key>
		<string>#FFFF00</string>
		<key>strokeColor</key>
		<string>#ff0000</string>
		<key>textSize</key>
		<integer>29</integer>
		<key>backgroundColor</key>
		<string>#ffffff </string>
		<key>textAlignMent</key>
		<string>left</string>
		<key>numberOfLines</key>
		<integer>1</integer>
	</dict>
	<key>titleLabel</key>
	<dict>
		<key>font</key>
		<string>Helvetica-Bold</string>
		<key>textColor</key>
		<string>#FFFF00</string>
		<key>strokeColor</key>
		<string>#FFFF00</string>
		<key>textSize</key>
		<integer>20</integer>
		<key>backgroundColor</key>
		<string>#ffffff </string>
		<key>textAlignMent</key>
		<string>left</string>
		<key>numberOfLines</key>
		<integer>1</integer>
	</dict>
	<key>Color</key>
	<dict>
		<key>Green</key>
		<string>76,116,90,1</string>
		<key>ButtonGreen</key>
		<string>60,199,146,1</string>
		<key>White</key>
		<string>255,255,255,1</string>
		<key>Gray</key>
		<string>244,244,244,1</string>
		<key>Black</key>
		<string>0,0,0,1</string>
		<key>BorderBlack</key>
		<string>71,71,71,1</string>
		<key>TransperentWhite</key>
		<string>255,255,255,0.6</string>
		<key>Blue</key>
		<string>84,85,146,1</string>
		<key>OffBlue</key>
		<string>136,133,155,1</string>
		<key>PlaceHolder</key>
		<string>212,212,212,1</string>
		<key>NavBar</key>
		<string>142,132,0,1</string>
		<key>NavBarTitle</key>
		<string>44,66,51,1</string>
	</dict>
	<key>Font</key>
	<dict>
		<key>PrimaryButton</key>
		<string>Arial,Bold,14</string>
		<key>AvenirHeavy14</key>
		<string>Avenir,Heavy,14</string>
		<key>AvenirHeavy16</key>
		<string>Avenir,Heavy,16</string>
		<key>AvenirHeavy18</key>
		<string>Avenir,Heavy,18</string>
		<key>AvenirMedium12</key>
		<string>Avenir,Medium,12</string>
		<key>AvenirMedium14</key>
		<string>Avenir,Medium,14</string>
		<key>AvenirMedium16</key>
		<string>Avenir,Medium,16</string>
		<key>AvenirMedium18</key>
		<string>Avenir,Medium,18</string>
		<key>AvenirMedium24</key>
		<string>Avenir,Medium,24</string>
		<key>AvenirMedium30</key>
		<string>Avenir,Medium,30</string>
		<key>AvenirBook14</key>
		<string>Avenir,Book,14</string>
		<key>AvenirBook16</key>
		<string>Avenir,Book,16</string>
		<key>AvenirBook18</key>
		<string>Avenir,Book,18</string>
		<key>AvenirLight14</key>
		<string>Avenir,Light,14</string>
		<key>AvenirLight16</key>
		<string>Avenir,Light,16</string>
		<key>AvenirLight18</key>
		<string>Avenir,Light,18</string>
		<key>AvenirRoman14</key>
		<string>Avenir,Roman,14</string>
		<key>AvenirRoman16</key>
		<string>Avenir,Roman,16</string>
		<key>AvenirRoman18</key>
		<string>Avenir,Roman,18</string>
		<key>AvenirRoman20</key>
		<string>Avenir,Roman,20</string>
		<key>AvenirRoman22</key>
		<string>Avenir,Roman,22</string>
		<key>AvenirRoman24</key>
		<string>Avenir,Roman,24</string>
	</dict>
	<key>Icon</key>
	<dict>
		<key>SettingsIcon</key>
		<string>153,153,153,1-20</string>
	</dict>
</dict>
</plist>
